<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Panel</title>
    <%- include('partials/header') %>
  </head>
  <body>
    <div class="full-container">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <div class="sidebar">
            <div class="header text-center p-2">
              <img src="/image/logo.png" />
            </div>
            <div class="body">
              <ul></ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-9">
          <div class="main-container">
            <div class="head">
              <h3 class="m-0 title"></h3>
            </div>
            <div class="body">
              <div class="partialViewer">
                <div data-id="1" class="partial">
                  <div class="text-center p-md-5">
                    <h1><%= introHeading %></h1>
                    <p
                      class="animate__animated animate__zoomInUp animate__delay-1s"
                    >
                      <%= introPara1 %>
                    </p>
                    <div
                      class="animate__animated animate__zoomInUp animate__delay-2s"
                    >
                      <%= introPara2 %>
                    </div>
                  </div>
                </div>
                <div data-id="2" class="partial">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="m-0 text-center">New User</h3>
                    </div>
                    <div class="card-body">
                      <form
                        class="m-0 p-0 row"
                        method="POST"
                        action="/admin/new_user"
                      >
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <div class="col-lg-3 col-md-4 mb-2">
                          <input
                            required
                            type="text"
                            name="name"
                            placeholder="Enter name"
                            class="form-control"
                          />
                        </div>
                        <div class="col-lg-3 col-md-4 mb-2">
                          <input
                            required
                            type="email"
                            name="email"
                            placeholder="Enter Email"
                            class="form-control"
                          />
                        </div>
                        <div class="col-lg-3 col-md-4 mb-2">
                          <input
                            required
                            type="password"
                            name="password"
                            placeholder="Enter Password"
                            class="form-control"
                          />
                        </div>
                        <div
                          class="col-lg-3 col-md-4 offset-md-4 offset-lg-0 mb-2"
                        >
                          <input
                            required
                            type="submit"
                            name="submit"
                            class="btn w-100 btn-warning"
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="user-table mt-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Since</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (locals.users) { %> <% users.forEach(user => { %>
                        <tr <% if (user.role=="deactivate" ) { %>
                          class="disabled" <% } %> data-id="<%= user.id %>">
                          <td><%= user.name %></td>
                          <td><%= user.email %></td>
                          <td><%= user.createdAt %></td>
                          <td>
                            <button
                              class="btn actiontaker"
                              data-id="<%= user.id %>"
                            >
                              <span class="fa fa-ellipsis-v"></span>
                            </button>
                          </td>
                        </tr>
                        <% }) %> <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div data-id="3" class="partial"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="user-manager">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="content">
              <button class="btn btn-primary">
                <span class="fa fa-user"></span> Profile
              </button>
              <button class="btn btn-danger">
                <span class="fa fa-trash"></span> Delete
              </button>
            </div>
            <form class="user-update m-0 p-0 mt-3">
              <input type="hidden" name="userid" />
              <div class="row">
                <div class="col-md-4 my-2">
                  <input
                    class="form-control"
                    type="text"
                    name="uname"
                    required
                  />
                </div>
                <div class="col-md-8 my-2">
                  <input
                    class="form-control"
                    name="uemail"
                    type="email"
                    required
                  />
                </div>
                <div class="col-md-12 my-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="ustatus"
                      id="ustatus"
                      value="normal"
                    />
                    <label class="form-check-label" for="ustatus">
                      Activate User Account
                    </label>
                  </div>
                </div>
                <div class="col-md-12 my-2">
                  <button class="btn btn-success">
                    <span class="fa fa-save"></span> Save Profile
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% if (locals.users) { %>
      <script>
        var users = <%- JSON.stringify(users) %>;
      </script>
      <% } %>
    <script>
      const divMap = [
        [1, "Introduction", "comment"],
        [2, "Users", "user"],
        [99, "Logout", "sign-out"],
      ];
      $(document).ready(() => {
        $(".actiontaker")
          .off("click")
          .click(function () {
            const targetId = $(this).data("id");
            const targetuser = users.find((d) => d.id == targetId);
            if (!targetuser) return false;
            // Reset the modal fields
            $("#user-manager .modal-title").text("");
            $(
              "#user-manager .modal-body form.user-update input[name='userid']"
            ).val("");
            $(
              "#user-manager .modal-body form.user-update input[name='uname']"
            ).val("");
            $(
              "#user-manager .modal-body form.user-update input[name='uemail']"
            ).val("");

            // Populate modal with the new user data
            $("#user-manager .modal-title").text(targetuser.name);
            $(
              "#user-manager .modal-body form.user-update input[name='userid']"
            ).val(targetuser.id);
            $(
              "#user-manager .modal-body form.user-update input[name='uname']"
            ).val(targetuser.name);
            $(
              "#user-manager .modal-body form.user-update input[name='uemail']"
            ).val(targetuser.email);

            if ((targetuser.role) == "normal") {
              $(
                "#user-manager .modal-body form.user-update input[name='ustatus']"
              ).prop("checked", true);
            } else {
              $(
                "#user-manager .modal-body form.user-update input[name='ustatus']"
              ).prop("checked", false);
            }

            $("#user-manager").modal("show");

            $("#user-manager .modal-body form.user-update")
              .off("submit")
              .submit(function () {
                const result = $(this)
                  .serializeArray()
                  .reduce((obj, d) => {
                    obj[d.name] = d.value;
                    return obj;
                  }, {});
                if (!result) return false;
                $(
                  ".user-table table tbody tr[data-id=" + targetId + "]"
                ).removeClass("disabled");
                if (!result.ustatus) {
                  result.ustatus = "deactivate";
                  $(
                    ".user-table table tbody tr[data-id=" + targetId + "]"
                  ).addClass("disabled");
                }
                console.log(result);
                $.get(
                  "/admin/profile/update/" + targetuser.id,
                  result,
                  function (d) {
                    if (d.status == "success") {
                      targetuser.name = result.uname;
                      targetuser.email = result.uemail;
                      targetuser.role = result.ustatus;
                      $(
                        ".user-table table tbody tr[data-id=" +
                          targetId +
                          "] td"
                      )
                        .eq(0)
                        .text(targetuser.name);
                      $(
                        ".user-table table tbody tr[data-id=" +
                          targetId +
                          "] td"
                      )
                        .eq(1)
                        .text(targetuser.email);
                      $("#user-manager").modal("hide");
                    } else if (d.status == "error") {
                      alert(d.message);
                    }
                  }
                );

                return false;
              });
            $("#user-manager .modal-body .content button")
              .off("click")
              .click(function () {
                var index = $(this).index() + 1;
                if (index == 1) {
                  window.location.href = "/admin/profile/view/" + targetId;
                } else if (index == 2) {
                  const confirmDelete = confirm(
                    "Are you sure to Delete " + targetuser.name + "?"
                  );
                  if (confirmDelete) {
                    $.get(
                      "/admin/profile/delete/" + targetuser.id,
                      function (d) {
                        if (d.status == "success") {
                          $("#user-manager").modal("hide");
                          $(
                            ".user-table table tbody tr[data-id=" +
                              targetuser.id +
                              "]"
                          ).remove();
                        } else {
                          alert("Some error occured!");
                        }
                      }
                    );
                  } else {
                    return false;
                  }
                }
              });
          });
        divMap.forEach((d) => {
          $(".full-container .sidebar .body ul").append(
            "<li data-id='" +
              d[0] +
              "'><span class='fa fa-" +
              d[2] +
              "'></span>" +
              d[1] +
              "</li>"
          );
          $(".full-container .sidebar .body ul li").click(function () {
            const targetId = $(this).data("id");
            if(targetId==99){
              window.location.href="/logout";
              return false;
            }
            $(".full-container .sidebar .body ul li").removeClass("active");
            $(this).addClass("active");
            $(".full-container .main-container .head .title").text(
              divMap.find((d) => d[0] == targetId)[1]
            );
            $(".full-container .main-container .head").addClass(
              "animate__animated animate__fadeInDown"
            );
            setTimeout(() => {
              $(".full-container .main-container .head").removeClass(
                "animate__animated animate__fadeInDown"
              );
            }, 1000);
            $(".partialViewer div.partial").hide();
            $(".partialViewer div[data-id=" + targetId + "]").show();
          });
          $(".partialViewer div.partial").hide();
          $(".partialViewer div.partial").addClass(
            "animate__animated animate__fadeInUp"
          );
          $(".full-container .sidebar .body ul li[data-id=1]").click();
        });
      });
    </script>
    <style>
      @media only screen and (width>= 768px) {
        .full-container {
          height: 100vh;
          overflow: hidden;
        }

        .full-container .sidebar,
        .full-container .main-container {
          height: 100vh;
        }

        .full-container .sidebar .body {
          height: calc(80vh - 20px);
          overflow-x: hidden;
        }
      }

      .full-container .sidebar {
        background: #0f003a;
      }

      .full-container .sidebar .header {
        height: 20vh;
        background: linear-gradient(45deg, #ffffff24, transparent, #ffffff24);
      }

      .full-container .sidebar .header img {
        max-height: 100%;
        padding: 1rem;
      }

      .full-container .sidebar .body ul {
        padding: 0;
        list-style: none;
        margin: 0;
        color: white;
        background: #ffffff14;
      }

      .full-container .sidebar .body ul li {
        padding: 0.4rem 2rem;
        cursor: pointer;
        transition: 0.1s;
        opacity: 0.5;
      }

      .full-container .sidebar .body ul li:hover {
        background: #ffffff14;
      }

      .full-container .sidebar .body ul li.active {
        background: #ffffff26;
        opacity: 1;
      }

      .full-container .main-container {
        padding-right: 20px;
      }

      .full-container .main-container .head {
        text-align: center;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 3px 3px 0 #00000017;
      }

      .full-container .main-container .body {
        margin-top: 20px;
      }

      .full-container .sidebar .body ul li svg {
        margin-right: 5px;
      }

      .user-table table button.btn {
        color: grey;
      }

      .user-table table button.btn:hover {
        color: rgb(98, 98, 98);
      }

      input[type="color"] {
        width: 30px;
        height: 30px;
      }

      .user-table table tbody tr.disabled td {
        background: #ff70709c !important;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  </body>
</html>
