<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Startseite - Personal Peak 360</title>
    <%- include('partials/header') %>
  </head>
  <body class="w-100">
    <%- include('partials/navbar') %>
    <div class="container mt-3">
      <div class="row">
        <div
          class="col-sm-13 my-2 alert alert-warning text-center animate__animated animate__fadeInUp"
        >
          <span class="fa fa-user"></span> Willkommen <b><%= username %></b>
        </div>
        <div
          class="col-sm-8 offset-sm-2 my-2 animate__animated animate__backInLeft"
        >
          <div class="card text-center">
            <div class="card-header">
              <h3 class="m-0 display-1"><%= username %></h3>
            </div>
            <div class="card-body p-0">
              <img class="m-2 w-50" src="/image/home_banner.png" />
            </div>
            <div class="card-footer">
              <button
                class="btn btn-vj_orange w-100 norbtn"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
              >
                fortfahren
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      $(document).ready(function () {
        $(".prcdbtn").click(function () {
          localStorage.setItem("disclaimer", "accept");
          window.location.href = "/fitness";
        });
      });
    </script>

    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" style="max-width: 1000px">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Haftungsausschluss und Wichtige Sicherheitshinweise von
              Personal-Peak-360
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" style="height: 70vh; overflow: scroll">
            <div>
              <h2>Individuelle Betreuung</h2>
              <p>
                Die bei Personal-Peak-360 angebotenen Trainings- und
                Ernährungspläne werden auf der Grundlage einer individuellen
                Auswertung erstellt. Unser Team setzt sich aus Fachleuten
                unterschiedlicher Disziplinen zusammen, darunter zertifizierte
                Personal Trainer, Trainingstherapeuten, Ernährungsberater,
                Ärzte, Psychologen, Bachelor Professionals of Physical Fitness,
                Physiotherapeuten und Sporttherapeuten. Diese Pläne werden in
                Zusammenarbeit mit unserem Expertenteam konzipiert, wobei nicht
                immer alle genannten Fachleute direkt beteiligt sind. Die
                spezifische Zusammensetzung des Beratungsteams kann variieren,
                um den bestmöglichen Plan für Ihre persönlichen Ziele und
                Bedürfnisse zu entwickeln.
              </p>
              <p>
                Die Häufigkeit, mit der Trainingspläne erstellt werden, liegt im
                Ermessen Ihres Trainers. Es besteht kein Anspruch auf eine
                bestimmte Anzahl von Trainings- oder Ernährungsplänen.
              </p>

              <h2>Eigenverantwortung und Sicherheit</h2>
              <p>
                Trotz der fachkundigen Beratung durch unser Team liegt die
                Verantwortung für die Umsetzung und Anwendung der empfohlenen
                Pläne und Maßnahmen ausschließlich bei Ihnen. Es ist wichtig,
                dass Sie vor Beginn jeglicher Empfehlungen Ihre individuelle
                Situation und gesundheitliche Eignung berücksichtigen. Bei
                Unsicherheiten oder bestehenden gesundheitlichen Bedingungen
                empfehlen wir dringend, vorab eine ärztliche Beratung
                einzuholen.
              </p>

              <h2>Auswahl der Trainingspläne</h2>
              <p>
                Bei der Erstellung Ihres individuellen Trainingsplans müssen Sie
                zu Beginn auswählen, ob Sie einen Plan für das Training zu Hause
                ohne Equipment, zu Hause mit Equipment oder für das Gym erhalten
                möchten. Diese Auswahl kann erst nach den ersten drei Monaten
                wieder geändert werden, da alle Pläne individuell erstellt
                werden.
              </p>

              <h2>Haftungsausschluss</h2>
              <p>
                Personal-Peak-360 übernimmt keine Garantie oder Haftung für die
                Wirksamkeit, Sicherheit oder Folgen der Anwendung der
                bereitgestellten Trainings- und Ernährungspläne. Die Nutzung der
                von Personal-Peak-360 bereitgestellten Informationen und
                Empfehlungen erfolgt auf eigenes Risiko. Für direkte oder
                indirekte Schäden, die aus der Anwendung der Inhalte entstehen,
                lehnen wir jede Haftung ab.
              </p>

              <h2>Urheberrechtlicher Hinweis und Schadensersatz</h2>
              <p>
                Alle Inhalte, die von Personal-Peak-360 bereitgestellt werden,
                einschließlich, aber nicht beschränkt auf Trainings- und
                Ernährungspläne, sind rechtlich geschützt und ausschließlich für
                den privaten Gebrauch des registrierten Empfängers bestimmt.
                Jegliche Form der Vervielfältigung, Verbreitung, Modifikation
                oder sonstigen Nutzung dieser Inhalte ohne unsere ausdrückliche
                schriftliche Genehmigung, einschließlich der Weitergabe von
                Zugangsdaten an Dritte, ist strengstens untersagt. Verstöße
                gegen diese Urheberrechtsbestimmungen können zu
                Schadensersatzforderungen führen, die sich nach dem Umfang des
                Verstoßes richten und in der Regel zwischen 500 € und 25.000 €
                liegen. In Fällen schwerwiegender oder vorsätzlicher
                Urheberrechtsverletzungen behalten wir uns das Recht vor, höhere
                Forderungen zu stellen.
              </p>

              <h2>Datenschutz-Kurzinformation</h2>
              <p>
                Bei Personal-Peak-360 nehmen wir den Schutz Ihrer persönlichen
                Daten ernst. Die im Rahmen der Nutzung unseres Portals erhobenen
                Daten (wie z.B. Name, Kontaktinformationen und Nutzungsdaten)
                werden zum Zweck der individuellen Betreuung, der Bereitstellung
                unserer Dienste sowie für interne Analyse- und
                Verbesserungszwecke verarbeitet. Diese Datenverarbeitung erfolgt
                mit dem Ziel, unser Angebot bestmöglich auf Ihre Bedürfnisse
                abzustimmen und die Qualität unserer Dienstleistungen zu
                erhöhen. Ihre Daten werden ohne Ihre ausdrückliche Zustimmung
                nicht an Dritte weitergegeben, es sei denn, dies ist gesetzlich
                vorgeschrieben oder für die Erbringung unserer Dienstleistungen
                erforderlich. Mit der Nutzung unserer Dienste erklären Sie sich
                mit dieser Verarbeitung Ihrer Daten einverstanden. Sie haben das
                Recht auf Auskunft, Berichtigung, Löschung und, unter bestimmten
                Umständen, auf Einschränkung der Verarbeitung Ihrer Daten. Bei
                Fragen zum Datenschutz können Sie sich jederzeit an uns wenden.
              </p>
              <p>
                Unsere Website trackt die Dauer Ihrer Besuche, um Statistiken zu
                erstellen und unser Angebot zu verbessern. Diese Informationen
                helfen uns, Ihre Benutzererfahrung stetig zu optimieren.
              </p>

              <h2>Schlussbemerkung und Einverständniserklärung</h2>
              <p>
                Die von Personal-Peak-360 bereitgestellten Informationen wurden
                mit größter Sorgfalt und nach bestem Wissen und Gewissen
                zusammengestellt. Eine Haftung für die Vollständigkeit,
                Richtigkeit und Aktualität der Informationen wird jedoch
                ausgeschlossen. Mit der Fortsetzung der Nutzung unserer Dienste
                stimmen Sie zu, diese Bedingungen zu akzeptieren und erkennen
                an, dass Sie die volle Verantwortung für die Anwendung der
                Empfehlungen tragen.
              </p>

              <p><b>COPYRIGHT – ©2024 Personal-Peak 360°</b></p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary prcdbtn"
              data-bs-dismiss="modal"
            >
              Weiter
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
